.reviews__container {
  position: relative;
  max-width: 766px;
  margin: 0 auto;
}

.reviews h2 {
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 34px;
  margin-left: 8px;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
    margin-left: -23px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    margin-left: -18px;
  }
}

.reviews__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reviews__item {
  display: grid;
  grid-template-columns: 18.4% 1fr;
  column-gap: 28px;
  background: $color-resolution-blue;
  box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);
  min-height: 242px;
  padding: 50px 62px;
}

.reviews__item h3 {
  font-family: $ff-secondary;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: $color-default-white;
  margin-top: 5px;
  margin-bottom: 5px;

  @include vp-767 {
    line-height: 130%;
  }
}

.reviews__item blockquote {
  font-family: $ff-secondary;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: $color-default-white;
  margin: 0;
}

.reviews__img-wrapper {
  grid-row: 1/ span 2;
}

.reviews__img-wrapper img {
  margin-top: 13px;
}

.reviews__button {
  display: none;
  padding: 5px;
  position: absolute;
  width: 46px;
  height: 45px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  fill: none;
  stroke: $color-dark-gray;
  top: 275px;

  @include vp-1199 {
    top: 277px;
  }

  @include vp-767 {
    top: 251px;
    width: 32px;
  }

  &--prev {
    left: 31px;

    @include vp-1199 {
      left: 31px;
    }

    @include vp-767 {
      left: 4px;
    }
  }

  &--next {
    right: 31px;

    @include vp-1199 {
      right: 31px;
    }

    @include vp-767 {
      right: 4px;
    }
  }

  &:hover,
  &:focus-visible {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.reviews__icon {
  width: 16px;
  height: 32px;

  &--next {
    transform: rotate(180deg);
  }

  @include vp-767 {
    width: 10px;
    height: 19px;
  }
}

[data-reviews-list].no-js {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
