.subscription {
  background-color: $color-ghost-white;
  position: relative;
}

.subscription__container {
  padding: 30px 103px 121px;

  @include vp-1199 {
    padding: 30px 163px;
  }
}

.subscription h2 {
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
  margin-left: -3px;

  @include vp-1199 {
    margin-left: -13px;
    margin-bottom: 8px;
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
  }
}

.subscription__nav {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
  width: fit-content;
  column-gap: 37px;
  margin: 0 auto 38px;
  padding: 0;

  &::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 97%;
    height: 2px;
    background-color: rgba(120, 120, 120, 0.2);
  }

  @include vp-1199 {
    column-gap: 45px;
    margin: 0 auto 44px;
  }

  @include vp-767 {
    margin: 0 -5px 35px;
    column-gap: 35px;
  }
}

.subscription__nav-button {
  font-family: $ff-secondary;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  display: inline-block;
  vertical-align: auto;
  position: relative;
  padding: 12px 5px 13px;
  width: fit-content;
  opacity: 0.5;
  background-color: transparent;
  max-width: 110px;

  &::after {
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 89%;
    height: 2px;
    background-color: transparent;

    @include vp-767 {
      left: 56%;
      width: 95%;
    }
  }

  &:last-child::after {
    @include vp-767 {
      width: 100%;
    }
  }

  @include vp-1199 {
    font-size: 18px;
  }

  @include vp-767 {
    font-size: 16px;
  }

  &:hover {
    opacity: 1;
  }
}

.subscription__nav-button--active {
  opacity: 1;

  &::after {
    background-color: $color-crimson;
  }
}

[data-sub-nav].no-js {
  display: none;
}

.subscription__content {
  position: relative;
  z-index: 1;
}

.subscription__subcontent {
  display: none;
}

.subscription__subcontent--active {
  display: block;
}

[data-sub-title] {
  display: flex;
  justify-content: center;
  font-family: $ff-secondary;
  font-weight: 700;
  font-size: 30px;
  line-height: 29px;
}

[data-sub-tab].no-js {
  display: block;
  margin-bottom: 30px;
}

.subscription__content h4 {
  display: flex;
  justify-content: center;
  font-family: $ff-secondary;
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;
  margin-bottom: 8px;

  @include vp-767 {
    font-size: 22px;
    margin-top: 22px;
    line-height: 110.16%;
  }
}

.subscription__content span {
  display: flex;
  justify-content: center;
  font-family: $ff-secondary;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $color-chambray;
}

.subscription__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;

  @include vp-1199 {
    grid-template-columns: 1fr;
  }

  @include vp-767 {
    gap: 35px;
  }
}

.subscription__item {
  padding: 22px;
  min-height: 448px;
  border: 7px solid transparent;
  border-image-source: none;
  border-image-slice: 1;
  list-style-type: none;
  background-color: $color-default-white;
  overflow: hidden;

  @include vp-767 {
    min-height: 384px;
  }

  &:hover,
  &:focus-within {
    border-image-source: $blue-to-red-border;
  }
}

.subscription__link {
  width: 69%;
  margin: 0 auto;
  min-height: 66px;
  font-family: $ff-secondary;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 2px solid $color-default-black;

  @include vp-1199 {
    width: 54%;
  }

  @include vp-767 {
    width: 89%;
  }
}

.subscription__item:hover .subscription__link,
.subscription__item:focus-within .subscription__link {
  background: $blue-to-red;
  border: none;
  color: $color-default-white;
}

.subscription__item:hover .subscription__link:hover,
.subscription__item:focus-within .subscription__link:hover {
  color: $color-default-black;
  border: none;
}

.subscription__price p {
  display: block;
  text-align: center;
  width: 100%;
  font-family: $ff-secondary;
  font-weight: 700;
  font-size: 60px;
  line-height: 150%;
  color: $color-egyptian-blue;
  position: relative;
  z-index: 1;
  margin-top: 66px;
  margin-bottom: 35px;

  &::before {
    content: attr(data-price);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -58%);
    font-size: 100px;
    line-height: 150px;
    font-weight: 700;
    color: $color-whisper;
    z-index: -1;

    @include vp-767 {
      font-size: 80px;
      transform: translate(-51%, -81%);
    }
  }

  @include vp-767 {
    margin-top: 55px;
    margin-bottom: 30px;
    font-size: 48px;
    margin-left: 1px;
  }
}

.subscription__rouble {
  @include vp-767 {
    width: 24px;
    height: 33px;
  }
}

.subscription img {
  display: block;
  position: absolute;
  bottom: -149px;
  right: 0;

  @include vp-1199 {
    width: 347px;
    height: 444px;
    bottom: -195px;
  }

  @include vp-767 {
    display: none;
  }
}
